


body{
    background-color: #213a57;
    font-family: sans-serif;
}

h2{
    color: #ef476f;
    font-size: 2.5rem;


}

p{
    color: #80ed99;
    font-size: 1.5rem;
}

h3{
    color: #f78c6b;
}

